body
  // polvo:if ENV = node
  font-family 'NODE'
  // polvo:elif ENV = browser
  font-family 'BROWSER'
  // polvo:else
  font-family 'OTHER'
  // polvo:fi

  // polvo:if ENV != browser
  font-family 'NOT BROWSER'
  // polvo:fi

div
  // polvo:if ENV=node
  font-family 'NODE2'
  // polvo:elif ENV = browser
  font-family 'BROWSER2'
  // polvo:else
  font-family 'OTHER2'
  // polvo:fi

  // polvo:if ENV != browser
  font-family 'NOT BROWSER2'
  // polvo:fi